<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="form-wrapper">
        <form action="/auth/sign-in" method="POST">
            <label for="username">Username</label>
            <input class="user-info-field" type="text" name="username" id="username">
            <% if (errors.username) { %>
                <p class="error-message"><%= errors.username.message %></p>
            <% } %>
            <label for="password">Password</label>
            <input  class="user-info-field" type="password" name="password" id="password">
            <% if (errors.password) { %>
                <p class="error-message"><%= errors.password.message %></p>
            <% } %>
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>