<header>
    <nav id="navbar">
        <img src="/images/parent-child-white 1.svg" alt="App logo abstract drawing of a smaller heart inside a larger hard represenitng parent and child">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/sparks">Find a Spark</a></li>
            <!-- Maybe handle the example sparks with a tag and a link that only brings up sparks filtered by that tag -->
            <% if (user) { %>
                <li><a href="/sparks/new">Make a Spark</a></li>
                <li><a href="/sparks/profile">My Profile</a></li>
                <li><a href="/auth/sign-out">Sign Out</a></li>
            <% } else { %>
                <li><a href="/auth/sign-in">Sign In</a></li>
                <li><a href="/auth/sign-up">Sign Up</a></li>
                <% } %>
            <li><a href="">About Us</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <img class="header-bg" src="/images/Orange-splodge.svg" alt="decorative">
    <div class="header-content">
        <div class="header-title-logo">
            <h1>Quality Time</h1>
            <h2>starts with a spark</h2>
        </div>
    </div>
</header>

<script>
    const burger = document.querySelector('.burger');
    const navLinks = document.querySelector('.nav-links');

    burger.addEventListener('click', () => {
        navLinks.classList.toggle('nav-active');

        burger.classList.toggle('toggle');
    })
</script>