<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality Time</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header-home') %>
    </header>
    <main>
        
        <div class="home-content">
            <h2>

            </h2>
            <p>

            </p>
            <button><a href="/auth/sign-in"></a></button>
            <button><a href="/auth/sign-up"></a></button>

        </div>

    </main>
</body>
</html>