
/* Google Fonts */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.lexend-<uniquifier> {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */



/* Main Elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    font-size: 16pt;

}

header {
    display:flex;
    position: relative;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;

}
.header-bg-home{
    position:relative;
    top: 0px;
}
.header-bg {
    position: relative;
    top: -5vw;
}
.header-content-home {
    display: flex;
    position:absolute;
    right: 6vw;
    top: 1vw;
    width: 100%;
}
.header-content-home {
    display: flex;
    position: absolute;
    top: 1vw;
    
}
.header-hero-img{
    display: flex;
    position: absolute;
    left: 4vw;
    top: 8vw;

}
.header-hero-img img{
        border-radius: 100%;
        width: 40vw;
        height: auto;
}

.header-title-logo-home {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-right: 20px;
    width: 100%;
    align-items: flex-end;
    top: 14vw;

}
.header-title-logo {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    align-items: flex-start;
    top: 14vw;

}
.header-content h1{
    display: flex;
    font-family: "Nunito", sans-serif;
    color: #001060;
    font-size: 8vw;
}
.header-content h2{
    display: flex;
    font-size: 4vw;
    font-family: "Nunito", sans-serif;
    color: #001060;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
/* Nav Bar */

nav {
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F0821D;
    z-index: 1;
}

nav a img {
    width: 7vw;
    margin: -10px 0 -7vw 10px;
}

.welcome {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 2vw;
    margin-left: -2vw;

}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    
}

.nav-links a {
    color: #001060;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 2vw;
    border-radius: 20px;
    padding: 20px;
}

.nav-links a:focus,
.nav-links a:hover {
    background-color: #001060;
    color: #fff;
}

.logo a {
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
}

/* Burger icon animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Home Page */

.welcome {
    top: 0;
}

/* Sparks/Index */

.card-wrapper {
    width: 85%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.card-wrapper a {
    text-decoration: none;
}
.spark-card {
    text-align: center;
    width:325px;
    padding:25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px;
}

.spark-card-title {
    background-color: #001060;
    color: white;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.spark-card img{
    width: 200px;
}

.spark-card-blurb {
    font-size: 17px;
    color: #001060;
    line-height: 1.5;
}

/* Forms */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #001060;
    border-radius: 25px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

form label {
    margin-top: 25px;
    font-size: 5vw;
    color: white;
}
form input {
    height: 50px;
    width: 75%;
}

form button {
    margin: 10px;
    padding: 10px;
    font-size: 24pt;
    background-color: #F0821D;
    color: white;
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .header-title-logo-home {
        top: 8vw;
    }
    
    .header-title-logo {
        top: 8vw;
    }
}

@media screen and (max-width: 768px) {
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .nav-links li {
        opacity: 0;
        line-height: 100px;
    }
    .nav-links a {
        color: white;
        font-size: 5vw;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .nav-active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        form {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .nav-links li {
        animation: navLinkFade 0.5s ease forwards 0.5s;
    }

    .card-wrapper {
        flex-direction: column;
    }
    /* The bellow doesn't seem to be doing anything need to investiage further */
    .card {
        width:calc(100% - 40px)
    }
}

