<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= sparkId %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('../partials/header') %>
</head>
<body>
    <div class="form-wrapper">
        <form action="/sparks/<%= spark._id %>?_method=PUT" method="POST">
            <label for="title">Title of Your Spark</label>
            <input type="text" name="title" id="title">
            <label for="resources">Resources Needed</label>
            <input type="text" name="resources" id="resources">
            <label for="description">Explain Your Spark</label>
            <input type="text" name="description" id="description">
            <label for="variations">Any Variations</label>
            <input type="text" name="variations" id="variations">
            <!-- Need to experiment with tags and see what is POSTed when check boxes are used -->
            <!-- Having submitted a string for a dag nothing was sent, do I need to link that to a different form action as it's a different schema. -->
            <label for="tag">Add Tags</label>
            <input type="text" name="tag" id="tag">
            <button type="submit">Share Your Spark</button>
        </form>
    </div>
</body>
</html>