<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Spark</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <%- include('../partials/head') %>
    
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <h1>Make Your Spark</h1>
    <div class="form-wrapper">
        <form action="/sparks" method="POST">
            <div class="row">
                <div class="column-25">
                    <label for="title">Title of Your Spark</label>
                </div>
                <div class="column-75">
                    <input type="text" name="title" id="title">
                </div>
            </div>
            <div class="row">
                <div class="column-25">
                    <label for="resources">Resources Needed</label>
                </div>
                <div class="column-75">
                    <input type="text" name="resources" id="resources">
                </div>
            </div>
            <div class="row">
                <div class="column-25">
                    <label for="description">Explain Your Spark</label>
                </div>
                <div class="column-75">
                    <textarea type="text" name="description" id="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="column-25">
                    <label for="variations">Any Variations</label>
                </div>
                <div class="column-75">
                    <input type="text" name="variations" id="variations">
                </div>
            </div>
            <!-- Need to experiment with tags and see what is POSTed when check boxes are used -->
            <!-- Having submitted a string for a dag nothing was sent, do I need to link that to a different form action as it's a different schema. -->
            <div class="row">
                <div class="column-25">
                    <label for="tag">Add Tags</label>
                </div>
                <div class="column-75">
                    <input type="text" name="tag" id="tag">
                </div>
            </div>
            <div class="btn-row">
                <button class="form-btn" type="submit">Share Your Spark</button>
            </div>
        </form>
    </div>
</body>

<!-- Link to Scripts -->
    <script src="/scripts/scripts.js"></script>
</html>